@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* #2a6226 #282a6d #78292d #842a2e #902b30  */
* {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
<<<<<<< HEAD
    overflow-x: hidden;
}
=======

>>>>>>> 490f2dcede725aa30ca277d3fbea407db9231351

table,
th,
td {
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    margin: auto;
<<<<<<< HEAD
    font-size: 16px;
=======
>>>>>>> 490f2dcede725aa30ca277d3fbea407db9231351
}
th {
    font-weight: bold;
    background-color: #555;
}

<<<<<<< HEAD
.summary-flex {
=======

/* .summary {
    height: max-content;
    margin: 0;
    background-color: black;
    color: #ddd; */
>>>>>>> 490f2dcede725aa30ca277d3fbea407db9231351
    display: flex;
    flex-direction: column;
}

.summary-table {
    height: max-content;
    margin: 0;
    /* background-color: black; */
    /* color: #ddd; */
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}
.summary-table div p {
    font-size: 20px;
}
.footerWrapper {
    margin: 0;
    background-color: #555;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    align-content: center;
}

footer {
    display: block;
    align-items: center;
    padding: 0;
}

@media screen and (max-width: 576px) {
    table,
    th,
    td {
        font-size: 12px;
        overflow-x: hidden;
    }
}
