* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

th,
td,
p {
    font-family: monospace;
}

table,
th,
td {
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    margin: auto;
}
th {
    font-weight: bold;
}

.padding {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.summary {
    height: max-content;
    margin: 0;
    font-weight: bolder;
    text-align: center;
    padding-top: 2rem;

}
.summary div p {
    font-size: 20px;
}
.footerWrapper {
    margin: 0;
    background-color: #555;
    padding-top: 1rem;
    position: relative;
    align-content: center;
}

footer {
    display: block;
    align-items: center;
    padding: 0;
}

footer div p{
    color: white;
}
